{% extends 'core/base.html' %}

{% block content %}

<div style="margin-top: 16px;">
    <a href="{{ request.META.HTTP_REFERER }}">&#8678; Back to Cart</a>
</div>

<hr>
<h2>Your current bonuses: <strong>{{ bonuses }}</strong></h2>
<h2>Your total order amount: <strong>${{ due_amount }}</strong></h2>
<hr>

{% if sufficient %}
    <h3>Woo-hoo! You have enough bonuses to pay for this order.</h3>
    <form action="" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-success" style="margin-top: 20px;">Pay with Bonuses</button>
    </form>
{% else %}
    <h3>Sorry, it looks like you don't have enough bonuses to pay for this order.</h3>
    <h3>You can still pay with a credit card or good ol' cash :)</h3>
<div style="margin-top: 16px;">
    <a href="{{ request.META.HTTP_REFERER }}">&#8678; Choose a different payment method</a>
</div>
{% endif %}

{% endblock content %}
