{% extends 'core/base.html' %}

{% block content %}

<div style="margin-top: 26px; text-align: center; font-family: Georgia, 'Times New Roman', Times, serif;">
    <h3 style="margin-bottom: 22px;">Forgot to add something?</h3>
    <a href="{% url 'products:menu' %}" class="btn btn-outline-dark">Go Back to Menu</a>
    <p style="margin-top: 12px;">or</p>
    <a href="{% url 'orders:cart' %}" class="btn btn-outline-dark">Go Back to Cart</a>
</div>

{% endblock content %}