{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'products:menu' %}" style="margin-bottom: 12px" >&#8678; Back to Menu</a>
            <br>
            <table class="table">
                <tr>
                    <th><h5>Items: <strong>{{ order.get_cart_items }}</strong></h5></th>
                    <th><h5>Total: <strong>${{ order.get_cart_total|floatformat:2 }}</strong></h5></th>
                    <th>
                        <a style="float:right; margin:5px" class="btn btn-outline-success" href="{% url 'orders:checkout' %}">Checkout</a>
                    </th>
                </tr>
            </table>
        
        </div>

        <br>

        <div class="box-element">
            <div class="cart-row" style="font-weight: 600;">
                <div style="flex:2"></div>
                <div style="flex:2">Item</div>
                <div style="flex:1">Price</div>
                <div style="flex:1">Quantity</div>
                <div style="flex:1">Subtotal</div>
            </div>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2">
                    <a href="{{ item.product.get_absolute_url }}">
                    <img class="row-image" src="{{ item.product.imageURL }}" alt="{{ item.product.name }}"></a>
                </div>
                <div style="flex:2"><a href="{{ item.product.get_absolute_url }}">{{ item.product.name }}</a></div>
                <div style="flex:1">${{ item.product.price.all.0.get_display_price|floatformat:2 }}</div>
                <div style="flex:1">
                    <span class="quantity">{{ item.quantity }}</span>
                    <div class="quantity">
                        <span data-product="{{ item.product.id }}" data-action="add" class="chg-quantity update-cart">&#43;</span>
                        <span data-product="{{ item.product.id }}" data-action="remove" class="chg-quantity update-cart">&#8722;</span>
                    </div>
                </div>
                <div style="flex:1">${{ item.get_subtotal }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
