{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form" action="{% url 'orders:dispatch_payment' %}" method="POST">
                {% csrf_token %}
                {% if not request.user.is_authenticated %}
                <div id="user-info">
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Name...">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email...">
                    </div>
                </div>
                {% endif %}
                <p>You're a few clicks away from completing your order, <strong>{{ user }}</strong>!</p>
                <hr>
                <div id="shipping-info">
                    <p style="font-size: 22px">Delivery Information:</p>
                    <hr>
                    <div class="form-field">
                        <p style="font-style: italic; font-weight: 600;">{{ checkout_form.first_name.label }}:</p>
                        {{ checkout_form.first_name }}
                    </div>
                    <br>
                    <div class="form-field">
                        <p style="font-style: italic; font-weight: 600;">{{ checkout_form.last_name.label }}:</p>
                        {{ checkout_form.last_name }}
                    </div>
                    <br>
                    <div class="form-field">
                        <p style="font-style: italic; font-weight: 600;">{{ checkout_form.city.label }}:</p>
                        {{ checkout_form.city }}
                    </div>
                    <br>
                    <div class="form-field">
                        <p style="font-style: italic; font-weight: 600;">{{ checkout_form.street_address.label }}:</p>
                        {{ checkout_form.street_address }}
                    </div>
                    <br>
                    <div class="form-field">
                        <p style="font-style: italic; font-weight: 600;">{{ checkout_form.phone.label }}:</p>
                        {{ checkout_form.phone }}
                    </div>
                    <br>
                    <hr>
                    <div class="form-field">
                        <p style="font-size: 22px;">{{ checkout_form.payment_option.label }}:</p>
                        {{ checkout_form.payment_option }}
                    </div>
                    <hr>
                    <div class="form-field">
                        <p style="font-style: italic; font-weight: 600;">{{ checkout_form.comment.label }}:</p>
                        {{ checkout_form.comment }}
                    </div>
                </div>
                    <hr>
                    <input id="form-button" class="btn btn-success w-100" type="submit" value="Confirm">
                    <!-- <button id="form-button" class="btn btn-success w-100" type='submit'>Continue</button> -->
                    <!-- <form action="" method="POST">
                        {% csrf_token %}
                        <input type="text">
                        <button type="submit">Submit</button>
                    </form> -->
            </form>
        </div>
        <br>

    </div>
    <div class="col-lg-6">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'orders:cart' %}">&#8678; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{ item.product.imageURL }}"></div>
                <div style="flex:2"><p>{{ item.product.name }}</p></div>
                <div style="flex:1"><p>${{ item.product.price.all.0.get_display_price|floatformat:2 }}</p></div>
                <div style="flex:1"><p>{{ item.quantity }}</p></div>
            </div>
            {% endfor %}
            <h5>Items: {{ order.get_cart_items }}</h5>
            <h5>Total: ${{ order.get_cart_total|floatformat:2 }}</h5>
            <hr>
            <h5>If paying with card or cash, you'll get <span style="color: green; font-weight: 800;">{{ new_bonuses }}</span> bonuses!</h5>
        </div>
    </div>
</div>

{% endblock content %}
