{% extends 'core/base.html' %}

{% block content %}

<div style="margin-bottom: 12px; margin-top: 16px; text-align: center;">
    <h2>Your cart appears to be empty... Let's fix that!</p>
    <a class="btn btn-outline-dark" href="{% url 'products:menu' %}" style="margin-bottom: 12px" >&#8678; Back to Menu</a>
</div>
<br>

{% endblock content %}