{% extends 'core/base.html' %}

{% block content %}

<div style="margin-top: 16px;">
    <a href="{{ request.META.HTTP_REFERER }}">&#8678; Back to Cart</a>
</div>

<h1>Stripe Payment Form</h1>

{% endblock content %}
