{% extends 'core/base.html' %}
{% load thumbnail %}
{% block content %}

<div style="margin-top: 26px; text-align: center; font-family: Georgia, 'Times New Roman', Times, serif;">
    <h1>Thank You! &#x1F49B;</h1>
    <h4>We'll make sure you get your order as soon as possible.</h4>
    <h4>In the meantime, you might want to check out our top 5 finger-licking, tastebud-popping meals!</h4>
</div>
<br>
<div class='row'>
{% for product in products %}
<div class="col-lg-4">
        <p><a href="{{ product.get_absolute_url }}">
            {% thumbnail product.cover_image "350x200" crop="center" as im %}
            <img class="thumbnail" src="{{ im.url }}" alt="{{ product.name }}">
            {% endthumbnail %}
        </a>
        </p>
        <div class="box-element product">
            <p><h6><strong><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></strong></h6></p>
            <p>{{ product.overview }}</p>
            <hr>
            <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
            <h4 style="float: right">${{ product.price.all.0.get_display_price|floatformat:2 }}</h4>
        </div>
    </div>
{% endfor %}
</div>


{% endblock content %}
