body{
	background-color: floralwhite;
	/* background-color: hsl(0, 0%, 98%); */
	/* background-image: url("../images/background6.jpg"); */
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c!important;
}

#cart-icon{
	width:30px;
	display: inline-block;
	margin-left: 15px;
}

/* #login-logout{
	margin-left: 15px;
} */

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: darkorange;
	width: 20px;
	height: 25px;
	border-radius: 20%;
	font-size: 18px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

.main-container{
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.category-list{
	margin-top: 16px;
	margin-right: 55px;
	/* padding-right: 150px; */
	
}

.product-wrapper{
	margin-top: 14px;
	display: flex;
	/* grid-template-columns: 1fr 3fr; */
	align-items: flex-start;
	justify-content: center;
}

.product-page-image{
	padding-right: 80px;
}

.carousel-item{
	height:28rem;
	/* width: 36rem; */
	background: #777;
	color: black;
	background-position: center;
	background-size: cover;
	/* position: relative; */
}

.container{
	/* position: relative; */
	/* bottom: 0;
	left: 0;
	right: 0;*/
	padding-bottom: 50px; 
}

/* .overlay-image{
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	background-position: center;
	background-size: cover;
	opacity: 0.5;
} */

.good_tasty{
	font-style: italic;
	font-weight: 800;
	color:tomato;
}

/* .profile-field{

} */