{% extends 'core/base.html' %}
{% load thumbnail %}
{% load static %}
{% block content %}

<div class='main-container'>

    <!-- Category List -->
    <div class='category-list'>
        {% for category in categories %}
        <p><a style="font-size: 20px; font-style: italic; border-radius: 12px" class="btn btn-info {% if category.slug == view.kwargs.category_slug %} active {% endif %} w-100" href="{{ category.get_absolute_url }}">{{ category.name }}</a></p>
        <hr>
        {% endfor %}
    </div>

    <!-- Product List -->
    <div class='row' style="margin-top: 16px;">
        {% if products %}
        {% for product in products %}
        <div class="col-lg-4">
            <p><a href="{{ product.get_absolute_url }}">
                {% thumbnail product.cover_image "258x200" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.name }}"></a>
                {% endthumbnail %}
            </p>
            <div class="box-element product">
                <p><h6><strong><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></strong></h6></p>
                <p>{{ product.overview }}</p>
                <hr>
                <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>

                <!-- !! questionable -->
                <h4 style="float: right">${{ product.price.all.0.get_display_price|floatformat:2 }}</h4>
                
            </div>
        </div>
        {% endfor %}
        {% else %}
            <p>
                <img src= "{% static 'images/menu-item-placeholder.png' %}" alt="menu-item-placeholder">
            </p>
            <h3 style="font-style: italic;">It looks like there are no products in this category... yet</h3>
        {% endif %}
    </div>

</div>

{% endblock content %}