{% extends 'core/base.html' %}
{% load thumbnail %}
{% block content %}

<div class="product-wrapper">
  <div class="col-lg-2" style="margin-right: 20px;">
    <p>Categories:</p>
    {% for category in categories %}
    <p><a class="btn btn-info w-100" style="font-size: 20px; font-style: italic; border-radius: 12px" href="{{ category.get_absolute_url }}">{{ category }}</a></p>
    {% endfor %}
  </div>
    <div class="col-lg-4 product-page-image">
      {% thumbnail product.cover_image "258x200" crop="center" as im %}
        <img class="thumbnail" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"  alt="cover_image">
      {% endthumbnail %}
        <button data-product="{{ product.id }}" data-action="add" class="btn btn-warning add-btn update-cart w-100" style="margin-top: 40px;">Add to Cart</button>
        <br>
        <br>
        <a class="btn btn-outline-dark w-100" href="{% url 'products:menu' %}" style="margin-bottom: 12px" >&#8678; Back to Menu</a>
    </div>
    <div class="col-lg-4">
        <h2>{{ product.name }}</h2>
        <h4 style="color: darkblue;">${{ price.get_display_price }}</h4>
        <p style="font-style: italic;">{{ product.description }}</p>
        What it's made of:
        <ul>
            {% for ingredient in ingredients %}
            <li>{{ ingredient }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<hr>
{% if any_photos %}
<br>
<div id="photoCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#photoCarousel" data-slide-to="0" class="active"></li>
    {% for remaining_photo in remaining_photos %}
    <li data-target="#photoCarousel" data-slide-to="{{ forloop.counter }}"></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    <!-- {% thumbnail first_photo.image "500x350" crop="center" as im %} -->
    <div class="carousel-item active" data-interval="500" style="background-image:url('{{ first_photo.image.url }}')">
    </div>
    <!-- {% endthumbnail %} -->
    {% for remaining_photo in remaining_photos %}
    <!-- {% thumbnail remaining_photo.image "1000x750" crop="center" as im %} -->
    <div class="carousel-item" style="background-image:url('{{ remaining_photo.image.url }}')">
    </div>
    <!-- {% endthumbnail %} -->
    {% endfor %}
  </div>
  <a href="#photoCarousel" class="carousel-control-prev" role="button" data-slide="prev">
    <span class="sr-only">Previous</span>
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a href="#photoCarousel" class="carousel-control-next" role="button" data-slide="next">
    <span class="sr-only">Next</span>
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>
{% else %}
<h4>New photos will be added soon!</h4>
{% endif %}
{% endblock content %}