{% extends 'core/base.html' %}

{% block content %}

<div style="margin-top: 80px; background-color: cornsilk; border-radius: 0%; box-shadow: 2px 2px 2px 1px rgba(17, 12, 12, 0.774); text-align: center; font-family: Georgia, 'Times New Roman', Times, serif;">
    <h1 style="font-size: 52px; margin-bottom: 25px;">Welcome{% if request.user.is_authenticated %}, <strong>{{ user }}</strong>{% endif %}! &#x1F44B;</h1>
    <h2 style="margin-bottom: 25px;">There isn't much to see on our title page...</h2>
    <h2>For all the <span class="good_tasty">good</span> &#x1F355; and <span class="good_tasty">tasty</span> &#x1F368; stuff,</h2>
    <p style="font-size: 72px;"><a href="{% url 'products:menu' %}">&#8667;SEE OUR MENU!&#8666;</a></p>
</div>


{% endblock content %}