{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    
    <!-- Menu -->
    <div class="navbar-collapse collapse w-50 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/products/menu/' %}active {% endif %}" aria-current="page" href="{% url 'products:menu' %}">Our Menu</a>
        </li>
      </ul>
    </div>
    
    <!-- Logo -->
    <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" style="text-decoration: underline; font-size: 26px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" href="{% url 'core:index' %}">&#x1F36A; Meals on Wheels &#x1F36A;</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      
    <!-- User-related Buttons -->
    <div class="navbar-collapse collapse w-50 order-3 dual-collapse2">
      <ul class="navbar-nav ms-auto" style="margin-left: 400px;">
        {% if request.user.is_authenticated %}
          <li class="nav-item {% if request.path == '/customers/profile-details/' %}active {% endif %}">
              <a class="nav-link" href="{% url 'customers:profile-details' %}">View Profile</a>
          </li>
          <li class="nav-item {% if request.path == '/customers/history/' %}active {% endif %}">
              <a class="nav-link" href="{% url 'customers:history' %}">History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'customers:logout' %}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a href="{% url 'customers:login' %}" id="login-logout" class="btn btn-primary"> Login/Register</a>
          </li>
        {% endif %}
      </ul>
    </div>

    <!-- Cart -->
    <div class="navbar-collapse collapse order-4 dual-collapse2">
      <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="{% url 'orders:cart' %}">
              <img  id="cart-icon" src="{% static 'images/shopping_bag.png' %}">
            </a>
          </li>
          <li class="nav-item">
            <span id="cart-total">{{ items_in_cart }}</span>
          </li>
      </ul>
    </div>
    
  </div>
</nav>