{% for category in categories %}
<p><a class="btn {% if category.id == view.kwargs.category_id %} btn-primary {% endif %}" href="{% url 'products:category' category_id=category.id %}">{{ category.name }}</a></p>
{% endfor %}
<p><a href="{% url 'products:menu' %}">Show me everything!</a></p>
<hr>
<h1>{{ view }}</h1>