{% extends 'core/base.html' %}
{% load orders_tags %}
{% block content %}


<h3 style="text-align: center; text-decoration: underline; margin-top: 16px;">History of Your Orders:</h3>
<br>
<h4 style="font-variant: small-caps; text-decoration: underline;">Quick Summary:</h4>
<p style="font-size: 20px;">Total Number of Orders Completed: <span style="font-size: 24px; font-style: italic; font-weight: 700;">{{ total_orders }}</span></p>
<p style="font-size: 20px;">Total Number of Items Bought: <span style="font-size: 24px; font-style: italic; font-weight: 700;">{{ total_items }}</span></p>
<p style="font-size: 20px;">Total Money Spent: <span style="font-size: 24px; font-style: italic; font-weight: 700;">${{ total_spent }}</span></p>
{% for order in history %}
<table style="width: 100%; border: 1px solid black; background-color: #96D4D4; table-layout: fixed;">
    <thead>
        <tr style="font-style: italic;">
            <th>Items</th>
            <th>Total Amount</th>
            <th>Payment Option</th>
            <th>Opened</th>
            <th>Status</th>
            <th>Closed</th>
        </tr>
    </thead>
    <tbody>
        <tr style="border: 1px solid black;">
            <td>
                <ul style="margin-top: 6px;">
                    {% for item in items|items_in_order:order %}
                    <li style="padding-bottom: 10px;"><a href="{{ item.product.get_absolute_url }}">
                        <img class="row-image" src="{{ item.product.imageURL }}" alt="{{ product.name }}">
                        <br>
                        {{ item }}
                        </a>
                        <p style="font-size: 16px; font-style: italic;">&#215; {{ item.quantity }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </td>
            <td>${{ order.get_cart_total }}</td>
            <td>{{ order.payment_option }}</td>
            <td>{{ order.opened_on }}</td>
            <td>{{ order.closed_on }}</td>
        </tr>
    </tbody>
</table>
<br>
{% endfor %}


{% endblock content %}