{% extends 'core/base.html' %}

{% block content %}

<div style="margin-top: 40px;">

{% if page == 'login' %}

<form action="" method="POST">
    {% csrf_token %}
    <!-- {% if form.errors %} -->
    <!-- {{ form.errors }} -->
    <!-- {% for field in form %} -->
    <!-- <ul>{{ error }}</ul> -->
    <!-- {% endfor %} -->
    <!-- {% endif %} -->
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ form.non_field_errors }}</strong>
        </div>
    {% endif %}
        <div>
            <p>{{ form.username.label }}:</p>
            <p>{{ form.username }}</p>
    </div>
    <div>
        <p>{{ form.password.label }}:</p>
        <p>{{ form.password }}</p>
    </div>
    <button class="btn btn-primary" type="submit">Log in</button>
</form>
<br>
<hr>
<p>Not registered yet? &#10549;</p>
<p style="margin-left: 110px;"><span style="font-size: 22px;"></span> <a class="btn btn-warning" href="{% url 'customers:register' %}">Register</a></p>

{% else %}

<form action="" method="POST">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ form.non_field_errors }}</strong>
        </div>
    {% endif %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <div>
        <p>{{ form.username.label }}:</p>
        <p>{{ form.username }}</p>
    </div>
    <div>
        <p>{{ form.password1.label }}:</p>
        <p>{{ form.password1 }}</p>
    </div>
    <div>
        <p>{{ form.password2.label }}:</p>
        <p>{{ form.password2 }}</p>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
<br>
<hr>
<p>Already registered? &#10549;</p>
<p style="margin-left: 120px;"><span style="font-size: 22px;"></span> <a class="btn btn-warning" href="{% url 'customers:login' %}">Log in</a></p>

{% endif %}
</div>

{% endblock content %}