{% extends 'core/base.html' %}

{% block content %}

<div style="margin-top: 20px;">
    <a class="btn btn-outline-dark" href="{{ request.META.HTTP_REFERER }}" style="margin-bottom: 12px;">&#8678; Back</a>
    <hr>

    <form action="" method="POST">
        {% csrf_token %}

        {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        {% endif %}

        <div>
            <p>{{ form.new_password1.label }}:</p>
            <p>{{ form.new_password1 }}</p>
        </div>
        <div>
            <p>{{ form.new_password2.label }}:</p>
            <p>{{ form.new_password2 }}</p>
        </div>

        <button class="btn btn-success" type="submit">Save</button>
    </form>
    <hr>
</div>

{% endblock content %}