{% extends 'core/base.html' %}

{% block content %}

<div style="margin-top: 20px;">
{% if page == 'profile_details' %}
    <hr>
    <h3><strong>Your Personal Details:</strong></h3>
    <br>
    <p><span style="font-weight: 600;">User Name</span>: <span style="margin-left: 0px;">{{ customer.username }}</span></p>
    <p><span style="font-weight: 600;">Email</span>: {% if customer.email %}{{ customer.email }}{% else %}<span style="font-style: italic;">please provide by editing your profile</span>{% endif %}</p>
    <p><span style="font-weight: 600;">First Name</span>: {% if customer.first_name %}{{ customer.first_name }}{% else %}<span style="font-style: italic;">please provide by editing your profile</span>{% endif %}</p>
    <p><span style="font-weight: 600;">Last Name</span>: {% if customer.last_name %}{{ customer.last_name }}{% else %}<span style="font-style: italic;">please provide by editing your profile</span>{% endif %}</p>
    <p><span style="font-weight: 600;">Phone</span>: {% if customer.phone %}{{ customer.phone }}{% else %}<span style="font-style: italic;">please provide by editing your profile</span>{% endif %}</p>
    <p><span style="font-weight: 600;">City</span>: {% if customer.city %}{{ customer.city }}{% else %}<span style="font-style: italic;">please provide by editing your profile</span>{% endif %}</p>
    <p><span style="font-weight: 600;">Street Address</span>: {% if customer.street_address %}{{ customer.street_address }}{% else %}<span style="font-style: italic;">please provide by editing your profile</span>{% endif %}</p>
    <a class="btn btn-danger" href="{% url 'customers:profile-edit' %}" style="margin-bottom: 22px;">Edit</a>
    <hr>
    <h3><strong>Your Bonus Account:</strong></h3>
    <p>You have <span style="color: green; font-weight: 800;">{{ customer.bonus_account }}</span> bonuses</p>
    <hr>

{% else %}
    <a class="btn btn-outline-dark" href="{% url 'customers:profile-details' %}" style="margin-bottom: 12px;">&#8678; Back</a>
    <hr>
    <form action="" method="POST">
        {% csrf_token %}
    
        <div>
            <p>{{ form.username.label }}:</p>
            <p>{{ form.username }}</p>
        </div>
        <div>
            <p>{{ form.email.label }}:</p>
            <p>{{ form.email }}</p>
        </div>
        <div>
            <p>{{ form.first_name.label }}:</p>
            <p>{{ form.first_name }}</p>
        </div>
        <div>
            <p>{{ form.last_name.label }}:</p>
            <p>{{ form.last_name }}</p>
        </div>
        <div>
            <p>{{ form.phone.label }}:</p>
            <p>{{ form.phone }}</p>
        </div>
        <div>
            <p>{{ form.city.label }}:</p>
            <p>{{ form.city }}</p>
        </div>
        <div>
            <p>{{ form.street_address.label }}:</p>
            <p>{{ form.street_address }}</p>
        </div>
        <button class="btn btn-success" type='submit'>Save</button>
    </form>
    <br>
    <hr>
    <a class="btn btn-danger" href="{% url 'customers:password-change' %}">Change Password</a>
{% endif %}
</div>

{% endblock content %}